

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  

  <div class="pt-3">
    <h2> kelompok 3</h2>
    <p>Lekrey jerel jacob laipiopa /  535220134</p>
    <p>Hans Santoso /  535220129</p>
    <p>Sabrina Phalosa /  535220131</p>
  </div>
