<div class="card text-center" style="background-color: black; border: 1px solid white; margin-top: 30px;" >
  <div class="card-header" style="color: white;">Student</div>
  <div class="card-body">
    <h5 class="card-title" style="color: white;">15 Data</h5>
    <p class="card-text" style="color: white;">
      kumpulan data students di universitas 
    </p>
    <a href="/" class="btn btn-outline-primary">to Student Data</a>
  </div>
  <div class="card-footer " style="color: white;" >Student</div>
</div>


<div class="card text-center" style="background-color: black; border: 1px solid white; margin-top: 30px;" >
    <div class="card-header" style="color: white;">Professor</div>
    <div class="card-body">
      <h5 class="card-title" style="color: white;">4 Data</h5>
      <p class="card-text" style="color: white;">
        kumpulan data Professor universitas tarumanagara

      </p>
      <a href="/dosen" class="btn btn-outline-success">to Professor data</a>
    </div>
    <div class="card-footer " style="color: white;" >Professor</div>
  </div>



  <div class="card text-center" style="background-color: black; border: 1px solid white; margin-top: 30px;" >
    <div class="card-header" style="color: white;">Staff</div>
    <div class="card-body">
      <h5 class="card-title" style="color: white;">2 Data</h5>
      <p class="card-text" style="color: white;">
        kumpulan data Staff universitas tarumanagara

      </p>
      <a href="/staff" class="btn btn-outline-danger">to Staff Data</a>
    </div>
    <div class="card-footer " style="color: white;" >Staff</div>
  </div>
